<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>한이음 빌라 주차장 이용 안내</title>
    {% load static %}
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Muli:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap2.min.css' %}">
</head>

<body>
<video class="video-background" autoplay muted loop>
    <source src="{% static 'home/video/background.mp4' %}" type="video/mp4">
    Your browser does not support the video tag.
</video>
<header>
    <div class="header-content">
        <a href="{% url 'home:before_index' %}">
            <img src="{% static 'home/img/주차아이콘.png' %}" width="60" height="60" alt="홈으로 이동">
        </a>
        <h1>주차의 달인</h1>
        <div class="menu-toggle" id="menu-toggle">
            &#9776;
        </div>
    </div>
    <nav class="nav-menu" id="nav-menu">
        <ul>
            <li><a href="{% url 'home:before_index' %}">홈</a></li>
            <li><a href="{% url 'login:login' %}">로그인</a></li>
            <li><a href="{% url 'find:find' %}">아이디/비밀번호 찾기</a></li>
            {% if not user.is_authenticated %}
                <li><a href="{% url 'signup:signup' %}">회원가입</a></li>
            {% endif %}
        </ul>
    </nav>
</header>

<main>
    <section class="intro">
        <h3>로그인 후 이용 바랍니다.</h3>
    </section>
</main>

<footer>
    <p>&copy; 2024 한이음 빌라 | 전화: 010-xxxx-xxxx | 이메일: admin@example.com</p>
</footer>

<script src="{% static 'js/main.js' %}"></script>
</body>

</html>
