<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호 변경</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap2.min.css' %}">
</head>
<body>
    <header>
        {% load static %}
        <h1><img src="{% static 'mypage/img/주차마크.png' %}" width="40" height="40"> 주차의 달인</h1>
        <nav>
            <h2>
                <ul>
                    <li><a href="{% url 'home:index' %}">홈</a></li>
                    <li><a href="{% url 'parking_status:parking_status' %}">주차현황</a></li>
                    <li><a href="#">주변 주차장</a></li>
                    <li><a href="{% url 'login:logout' %}">로그아웃</a></li>
                </ul>
            </h2>
        </nav>
    </header>
    <main>
        <section class="update-details">
            <h2>비밀번호 변경</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">변경</button>
            </form>
        </section>
    </main>
    <footer>
        <h4>
            <p>&copy; 2024 한이음 빌라 &nbsp;&nbsp; &phone;&nbsp; 010-xxxx-xxxx &nbsp;&nbsp; email: admin@example.com </p>
        </h4>
    </footer>
</body>
</html>
