/* 전체 스타일 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/* 헤더 스타일 */
header {
    background-color: #FFFFFF;
    color: #1b1b1b;
    padding: 20px;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

header h1 {
    font-size: 55px;
    margin: 0;
}

header h2 {
    font-size: 15px;
    margin: 0;
    margin-top: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav ul li a {
    color: #333333;
    text-decoration: none;
}

/* 메인 섹션 스타일 */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex: 1;
}

.signup-details {
    width: 100%;
    max-width: 800px;
    padding: 20px;
}

.signup-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.profile-picture {
    margin-right: 40px;
}

.profile-picture img {
    width: 150px;
    height: 150px;
    background-color: #ddd;
    display: block;
}

.form-container {
    width: 100%;
    max-width: 600px;
}

.form-container h7 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
}

.form-container p {
    color: #666;
    margin-bottom: 20px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    width: 100%;
    margin-bottom: 15px;
}

label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    text-align: left;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

.form-actions {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.cancel-btn, .register-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.cancel-btn {
    background-color: #f0f0f0;
    color: #333;
}

.register-btn {
    background-color: #000;
    color: #fff;
}

.cancel-btn:hover {
    background-color: #ddd;
}

.register-btn:hover {
    background-color: #333;
}

/* 푸터 스타일 */
footer {
    background-color: #FFFFFF;
    color: #1b1b1b;
    padding: 10px 30px;
    text-align: center;
    width: 100%;
    border-top: 1px solid #ddd;
    margin-top: 10px;
}

footer h4 {
    font-size: 15px;
    margin: 0;
}

footer a {
    color: #1b1b1b;
    text-decoration: none;
    margin: 0 10px;
}
